div {
  background-color: red;
  width: 65px;
  height: 65px;
  border: 1px solid black;
  margin-left: 10px;
  background-clip: content-box;
}

#first {
padding: 10px;
  margin: 0px;
}

#second {
  padding: 40px 65px;
  margin: 20px;
}
#third {
  margin-top: 6px;
  padding: 20px 25px 50px 25px;
  margin: 6px 0 0;
}
#fourth {
  padding: 15px 100px 40px 100px;
  margin: 125px 0 0 0;  
}